<?xml version="1.0" encoding="utf-8" ?>
<config xmlns="urn:schema-config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="urn:schema-config ../LWJ/OneBuild/config.xsd">

  <ProductName>{ProductName}</ProductName>
  <CompanyName>{CompanyName}</CompanyName>
  <ApplicationIdentifier >{com.xxx.xxx}</ApplicationIdentifier>
  <Version>1.0.0</Version>
  <Output.Dir>Build</Output.Dir>
  <ScriptingBackend>IL2CPP</ScriptingBackend>
  <Il2CppCompilerConfiguration>Release</Il2CppCompilerConfiguration>
  <Advertisement.TestMode>false</Advertisement.TestMode>
  <Analytics.TestMode>false</Analytics.TestMode>
  <Architecture>Universal</Architecture>
</config>