<?xml version="1.0" encoding="utf-8" ?>
<config xmlns="urn:schema-config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="urn:schema-config ../LWJ/OneBuild/config.xsd">

  <development>true</development>
  <scriptingBackend>
    <BuildTargetGroup>{$BuildTargetGroup}</BuildTargetGroup>
    <ScriptingImplementation>Mono2x</ScriptingImplementation>
  </scriptingBackend>
  <il2CppCompilerConfiguration>
    <BuildTargetGroup>{$BuildTargetGroup}</BuildTargetGroup>
    <Il2CppCompilerConfiguration>Debug</Il2CppCompilerConfiguration>
  </il2CppCompilerConfiguration>
  <scriptingDefineSymbolsForGroup>
    <BuildTargetGroup>{$BuildTargetGroup}</BuildTargetGroup>
    <Il2CppCompilerConfiguration>DEBUG</Il2CppCompilerConfiguration>
  </scriptingDefineSymbolsForGroup>
  <Advertisements.AdvertisementSettings.testMode>true</Advertisements.AdvertisementSettings.testMode>
  <Analytics.AnalyticsSettings.testMode>true</Analytics.AnalyticsSettings.testMode>

</config>