<?xml version="1.0" encoding="utf-8" ?>
<config xmlns="urn:schema-config" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="urn:schema-config ../LWJ/OneBuild/config.xsd">

  <VersionCode>1</VersionCode>
  <ScriptingBackend>IL2CPP</ScriptingBackend>
  <iOS.TargetDevice>iPhoneAndiPad</iOS.TargetDevice>
  <iOS.SdkVersion>DeviceSDK</iOS.SdkVersion>
  <iOS.AppleDeveloperTeamID>{AppleDeveloperTeamID}</iOS.AppleDeveloperTeamID>
  <iOS.AppleEnableAutomaticSigning>true</iOS.AppleEnableAutomaticSigning>
  <Output.Dir>Build/iOS/{$ProductName}_XCodeProject</Output.Dir>

</config>