<?xml version="1.0" encoding="utf-8" ?>
<config xmlns="urn:schema-config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="urn:schema-config ../LWJ/OneBuild/config.xsd">
  <ProductName>TestProduct(Debug)</ProductName>
  <ApplicationIdentifier >com.test.debug</ApplicationIdentifier>
  <DevelomentBuild>true</DevelomentBuild>
  <ScriptingBackend>Mono2x</ScriptingBackend>
  <Il2CppCompilerConfiguration>Debug</Il2CppCompilerConfiguration>
</config>