<?xml version="1.0" encoding="utf-8" ?>
<config xmlns="urn:schema-config" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="urn:schema-config ../LWJ/OneBuild/config.xsd">
 
  <ProductName>TestProduct</ProductName>
  <CompanyName>MyCompanyName</CompanyName>
  <ApplicationIdentifier >com.test</ApplicationIdentifier>
  <Version>1.0.0</Version>
  <VersionCode>1</VersionCode>
  

</config>