<?xml version="1.0" encoding="utf-8" ?>
<config xmlns="urn:schema-config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="urn:schema-config ../LWJ/OneBuild/config.xsd">

  <output.dir>Build/Android</output.dir>
  <output.filename>{$productName}_{$version}_{$versionCode}.apk</output.filename>
  
  <PlayerSettings.Android.targetArchitectures>
    <AndroidArchitecture>ARM64</AndroidArchitecture>
  </PlayerSettings.Android.targetArchitectures>
 
</config>