<?xml version="1.0" encoding="utf-8" ?>
<config xmlns="urn:schema-config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="urn:schema-config ../LWJ/OneBuild/config.xsd"
        >

  <productName>TestProduct{$DateTime,yyyy-MM-dd}</productName>
  <companyName>MyCompanyName</companyName>
  <applicationIdentifier>com.test</applicationIdentifier>
  <version>1.0.0</version>
  <versionCode>1</versionCode>
  <development>false</development>
  <scriptingBackend>
    <BuildTargetGroup>{$BuildTargetGroup}</BuildTargetGroup>
    <ScriptingImplementation>IL2CPP</ScriptingImplementation>
  </scriptingBackend>
  <Advertisements.AdvertisementSettings.testMode>false</Advertisements.AdvertisementSettings.testMode>
  <Analytics.AnalyticsSettings.testMode>false</Analytics.AnalyticsSettings.testMode>
  <il2CppCompilerConfiguration>
    <BuildTargetGroup>{$BuildTargetGroup}</BuildTargetGroup>
    <Il2CppCompilerConfiguration>Release</Il2CppCompilerConfiguration>
  </il2CppCompilerConfiguration>
  <SetApiCompatibilityLevel>
    <BuildTargetGroup>{$BuildTargetGroup}</BuildTargetGroup>
    <ApiCompatibilityLevel>NET_2_0</ApiCompatibilityLevel>
  </SetApiCompatibilityLevel>

  <output.dir>Build/{$BuildTargetGroup}/Release</output.dir>
</config>