<?xml version="1.0" encoding="utf-8" ?>
<config xmlns="urn:schema-config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="urn:schema-config ../LWJ/OneBuild/config.xsd">

  <output.dir>Build/{$version}/StreamingAssets/{$BuildTargetGroup}</output.dir>
  <output.filename></output.filename>
  <build.assets>
    <item>assets/test/scenes/level1.unity</item>
    <item>assets/test/scenes/level2.unity</item>
  </build.assets>

</config>