<?xml version="1.0" encoding="utf-8" ?>
<config xmlns="urn:schema-config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="urn:schema-config ../LWJ/OneBuild/config.xsd">

  <output.filename>{$ProductName}.exe</output.filename>
  <BuildOptions>AutoRunPlayer</BuildOptions>
  <clearLog>true</clearLog>
  <build.scenes>
    assets/test/scenes/main.unity
  </build.scenes>
</config>