<?xml version="1.0" encoding="utf-8" ?>
<config xmlns="urn:schema-config" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="urn:schema-config ../LWJ/OneBuild/config.xsd">
  
  <output.dir>Build/{$version}/Debug/iOS/{$productName}_XCodeProject</output.dir>
  
</config>